body{
  font-family: "Graphik","Tahoma",sans-serif;
  height: 100vh;
}


th {
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
  }
  td {
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
  }

  tr:nth-child(2n) {
    background: #e8edff;
  }
  tr:nth-child(2n+1) {
    background: bisque;
  }

  .main{
    margin-left: 30%;
    align-items: center;
    padding-top: 92px;
    margin-bottom: 32px;
    padding: 20px 16px;
    border-radius: 16px;
    background-color: #D0CBFB;
    float: left;
  }
